.banniere {
    background-color: #4E5166;
    margin-top: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.banniere img {
    width: 100px;
    height: 100px;
}

.banniere ul {
    list-style-type: none;
    padding-left: 0px;
}
.banniere li {
    color: white;
    margin-left: 50px;
}

.banniere li:hover {
    background-color: #FD2D01;
    border: 1px solid #FD2D01;
    padding: 40px 0 40px 0;
    transition: 0.7s;
    color: black;
}

.banniere a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 720px)
{
.banniere ul {
    flex-direction: column;
}
}