.main-form {
    background-color: #4E5166;
    height: 100vh;
    /* background: url("../assets/bg-01.webp") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: block;
    font-family: Georgia, "Times New Roman", Times, serif; */
}

.section-onglet {
    display: flex;
    justify-content: center;
    height: 800px;
}

.bloc-form {
    position: relative;
    margin-left: 10px;
    height: 85%;
    width: 500px;
    margin-top: 70px;
    background-color: white;
    border-radius: 20px;
}

.bloc-form img {
    width: 90%;
    margin-top: 70px;
    margin-left: 20px;
  }

  @media screen and (max-width: 700px)
  {
    .main-form {
        height: 150vh;
    }

    .bloc-form {
        width: 330px;
    }
  }