.navigation {
  display: flex;
}

.navigation ul {
    padding-left: 0;
    display: flex;
    margin-top: 50ox;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
  }
  
  .navigation li {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #4E5166;
    padding: 10px 0 10px 0;
    cursor: pointer;
    opacity: 0.4;
  }
  
  .navigation li:hover {
    opacity: 1;
    transition: 0.7s;
  }

  .navigation a {
    text-decoration: none;
    width: 100%;
  }
  
  .active-nav li {
    color: black;
    background-color: #FFD7D7;
    opacity: 1;
  }